<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="vsHelp.Properties.OpcoesCQP" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="vsHelp.Properties.Configuracoes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="vsHelp.Properties.Parametros" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="vsHelp.Properties.Conexao" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <userSettings>
    <vsHelp.Properties.OpcoesCQP>
      <setting name="SenhaUsuario" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SenhaSupervisor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Telefones" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Email" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AtualizaDB" serializeAs="String">
        <value>False</value>
      </setting>
    </vsHelp.Properties.OpcoesCQP>
    <vsHelp.Properties.Configuracoes>
      <setting name="NomeSkin" serializeAs="String">
        <value>The Bezier</value>
      </setting>
      <setting name="PaletaSkin" serializeAs="String">
        <value>Ghost Shark</value>
      </setting>
      <setting name="UltimaTela" serializeAs="String">
        <value />
      </setting>
      <setting name="UltimaPasta" serializeAs="String">
        <value>C:\</value>
      </setting>
    </vsHelp.Properties.Configuracoes>
    <vsHelp.Properties.Parametros>
      <setting name="NomeSkin" serializeAs="String">
        <value>Basic</value>
      </setting>
      <setting name="PaletaSkin" serializeAs="String">
        <value>Violet Dark</value>
      </setting>
    </vsHelp.Properties.Parametros>
    <vsHelp.Properties.Conexao>
      <setting name="Servidor" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="Porta" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="Usuario" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="Senha" serializeAs="String">
        <value>vssql</value>
      </setting>
      <setting name="Banco" serializeAs="String">
        <value>vsbd</value>
      </setting>
    </vsHelp.Properties.Conexao>
  </userSettings>
</configuration>